<div class="container-fluid banner">
  <div class="row">
    <div class="col-md-12">
      <nav class="navbar navbar-md">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="#"><b>Home</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><b>Your Corner</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><b>About Us all</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><b>More!</b></a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="col-md-8 offset-md-2 info">
      <p class="text-center">
        <b>Learn here with conEdu`</b>
      </p>
      <a href="#" class="btn btn-md text-center">Start with us here</a>
    </div>
  </div>
</div>